# Author: 可莉🅥
# GitLab: https://gitlab.com/lodepuly/vpn_tool/-/tree/main/tool/Loon
# 引用地址 https://support.1password.com/ports-domains/
# 2024-04-18 23:54:21

# 欧盟
HOST-SUFFIX, 1password.eu, proxy
HOST-SUFFIX, 1password.com, proxy
HOST-SUFFIX, 1passwordservices.com, proxy
HOST-SUFFIX, 1passwordusercontent.eu, proxy

# 其他域名
HOST, accounts.brex.com, proxy
HOST, api.privacy.com, proxy
HOST, api.pwnedpasswords.com, proxy
HOST, cache.agilebits.com, proxy
HOST, in.appcenter.ms, proxy
HOST, jmap.fastmail.com, proxy
HOST, platform.brex.com, proxy
HOST-SUFFIX, 1infra.net, proxy
HOST-SUFFIX, fastmail.com, proxy
HOST-SUFFIX, globalsign.com, proxy