# 2024-04-23 13:21:12
# ChatGPT
HOST-SUFFIX, chatgpt.com, proxy
HOST-SUFFIX, oaistatic.com, proxy
HOST-SUFFIX, oaiusercontent.com, proxy
HOST-SUFFIX, openai.com, proxy
HOST, api.statsig.com, proxy
HOST, api-iam.intercom.io, proxy
HOST, chatgpt.livekit.cloud, proxy
HOST, o33249.ingest.sentry.io, proxy
HOST, openaiapi-site.azureedge.net, proxy
HOST, sfo3.turn.livekit.cloud, proxy
HOST-KEYWORD, openaicom, proxy

# Copilot
HOST, api.githubcopilot.com, proxy
HOST, copilot-proxy.githubusercontent.com, proxy
HOST, copilot.microsoft.com, proxy
HOST, sydney.bing.com, proxy
HOST, www.bing.com, proxy

# Gemini
HOST, bard.google.com, proxy
HOST, gemini.google.com, proxy

# Claude
HOST-SUFFIX, anthropic.com, proxy
HOST-SUFFIX, claude.ai, proxy
IP-CIDR, 160.79.104.0/23, proxy
IP6-CIDR, 2607:6bc0::/48, proxy

# JetBrains AI
HOST-SUFFIX, grazie.ai, proxy

# Meta
HOST, imagine.meta.com, proxy
HOST-SUFFIX, meta.ai, proxy