hostname = -pluginhub.kelee.one,*.kelee.one,kelee.one

^https:\/\/(.*\.)?kelee\.one(\/.*)? url request-header (\r\n)User-Agent:.+(\r\n) request-header $1User-Agent: Surge iOS/9527$2
^https:\/\/(.*\.)?kelee\.one(\/.*)? url response-header (\r\n)Content-Type:.+(\r\n) response-header $1Content-Type: text/plain; charset=utf-8$2Content-Disposition: inline$2