#!name=📺 BiliBili: 🌐 Global β
#!desc=(BETA) 哔哩哔哩：全球模式（中国站自动线路及全区搜索）
#!openUrl=http://boxjs.com/#/app/BiliBili.Global.beta
#!author=VirgilClyne
#!homepage=https://global.biliuniverse.io
#!manual=https://manual.biliuniverse.io
#!icon=https://github.com/BiliUniverse/Global/raw/main/src/assets/icon_rounded_108x.png
#!category=📺 BiliUniverse

#[Script]
# BiliBili.Global.bangumi.play.html
^https?:\/\/www\.bilibili\.com\/bangumi\/play\/(ss|ep)\d+\/? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js

# BiliBili.Global.viewunite.v1.View.grpc
^https?:\/\/(grpc\.biliapi\.net|app\.bilibili\.com)\/bilibili\.app\.viewunite\.v1\.View\/View$ url script-request-body https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
^https?:\/\/(grpc\.biliapi\.net|app\.bilibili\.com)\/bilibili\.app\.viewunite\.v1\.View\/View$ url script-response-body https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.response.beta.js
# BiliBili.Global.season.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/view\/(v2\/app|web|pc)\/season\? url script-request-body https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/view\/(v2\/app|web|pc)\/season\? url script-response-body https://raw.githubusercontent.com/BiliUniverse/Global/main/js/BiliBili.Global.response.beta.js

# BiliBili.Global.playerunite.v1.Player.grpc
^https?:\/\/(grpc\.biliapi\.net|app\.bilibili\.com)\/bilibili\.app\.playerunite\.v1\.Player\/PlayViewUnite$ url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.player.v2.PlayURL.grpc
^https?:\/\/(grpc\.biliapi\.net|app\.bilibili\.com)\/bilibili\.pgc\.gateway\.player\.v2\.PlayURL\/PlayView$ url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.player.playurl.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/player\/(api|web)\/playurl(\/html5)?\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.player.v2.playurl.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/pgc\/player\/web\/v2\/playurl\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js

# BiliBili.Global.search.html
^https?:\/\/search\.bilibili\.com\/all\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.search.grpc
^https?:\/\/(grpc\.biliapi\.net|app\.bilibili\.com)\/bilibili\.polymer\.app\.search\.v1\.Search\/(SearchAll|SearchByType)$ url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.search.app.json
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/search(\/type)?\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.search.wbi.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/web-interface\/wbi\/search\/(all\/v2|type)\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.search.pc.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/web-interface\/search\/(all\/v2|type)\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js

# BiliBili.Global.space.app.json
^https?:\/\/app\.bili(bili\.com|api\.net)\/x\/v2\/space\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.space.wbi.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/space\/wbi\/acc\/info\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js
# BiliBili.Global.space.pc.json
^https?:\/\/api\.bili(bili\.com|api\.net)\/x\/space\/acc\/info\? url script-analyze-echo-response https://raw.githubusercontent.com/BiliUniverse/Global/beta/js/BiliBili.Global.request.beta.js

#[MITM]
hostname = www.bilibili.com, search.bilibili.com, app.bilibili.com, app.biliapi.net, api.bilibili.com, api.biliapi.net, grpc.biliapi.net
